Source: nas-panel
Section: web
Priority: optional
Maintainer: Gekomod <zaba141@o2.pl>
Build-Depends: debhelper-compat (= 13), nodejs, npm
Standards-Version: 4.5.1
Homepage: https://naspanel.site

Package: nas-panel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 0.5.00), nodejs (>= 22), npm, sqlite3, ethtool, ufw, network-manager, smartmontools, net-tools, libc6, iperf3, iproute2, jq, python3, make, g++, musl-dev, samba, mdadm, lsof, rsync, curl, wget, cron
Description: Web-based NAS administration panel
 A modern web interface for managing your NAS device with features
 like file management, system monitoring, and configuration tools.
