[Unit]
Description=NAS-WEB Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/nas-web
StandardOutput=file:/var/log/nas-web/output.log
StandardError=file:/var/log/nas-web/error.log
Restart=on-failure
RestartSec=5s
MemoryLimit=512M
TasksMax=8192
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
