#!/usr/bin/make -f

%:
	dh $@ --buildsystem=makefile

override_dh_auto_install:
	# Utwórz docelowe katalogi
	install -d debian/nas-web/var/log/nas-web

	install -d debian/nas-web/etc/nas-web
	
	# Zainstaluj plik wykonywalny
	cp -p dist/nas-web debian/nas-web/usr/local/bin/
	
	#install -m 644 debian/config/config.conf debian/nas-web/etc/nas-web/
	# Zainstaluj usługę systemd
	install -D -m 644 debian/nas-web.service debian/nas-web/lib/systemd/system/

override_dh_usrlocal:
