Package: nas-web-dbgsym
Package-Type: ddeb
Source: nas-web
Version: 1.2.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Your Name <your.email@example.com>
Installed-Size: 70
Depends: nas-web (= 1.2.5)
Section: debug
Priority: optional
Description: debug symbols for nas-web
Build-Ids: a70b1b1cb5c58bbf7725f97f924672ab08712d5f
