Package: nas-web-dbgsym
Package-Type: ddeb
Source: nas-web
Version: 1.2.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Your Name <your.email@example.com>
Installed-Size: 60
Depends: nas-web (= 1.2.5)
Section: debug
Priority: optional
Description: debug symbols for nas-web
Build-Ids: 3b1fe9c3be94229884ac4495ce41f8dc5507d1b7
